@font-face {
    font-family: "AvernirNextLTPro";
    src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Regular");
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AvernirNextLTPro";
    src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Bold");
    font-weight: 700;
    font-style: normal;
  }
  @font-face {
    font-family: "AvernirNextLTPro";
    src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
    src: url("../assets/fonts/Alternative\ files/AvenirNextLTPro-Demi");
    font-weight: 600;
    font-style: normal;
  }
  html {
    font-family: "AvernirNextLTPro";
  }

  //Menu//
  
  .menu {
    font-family: "AvernirNextLTPro";
  }
// &__title {

// }
// &--nav {

// }

//Hero//

.hero {
    font-family:'AvernirNextLTPro';

__title {
font-size: 3.75rem;
line-height: 4.25rem;
font-weight: 700;
}
}
//Bio//

.bio {

}
.photo {

}
.text {

&--header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}
&--quote {

}
&--quote2 {

}
&--sub-title {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;

}
&--about {
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 400;
}
}
//Gallery//

.gallery {


&__header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}
&__img {

}
}
// //Social//


// //Footer//
.footer {


&__title {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 700;
}
&__name {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: bold 400;
}
&__text {
    font-size: .875rem;
    line-height: 1.25rem;
    font-weight: 400;
}
}

.social {


&__img {

}
&__logo {
    
}
}