@use "./_partials/partials" as *;


html {
    font-family: "AvernirNextLTPro";
    color: bandSiteBlack;


//Menu//
    
.menu {
    font-family: "AvernirNextLTPro";
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 1280px;
    background-color: $bandSiteBlack;
    color: $mercury;
    list-style: none;
    margin: auto;
    padding: $desktopPadding;
    padding-top: $desktopHeaderPadding;
    padding-left: $desktopHeaderPadding;
    text-decoration: none;
    border-bottom: .0625rem solid $silver;
    // padding-top: 3rem;
&__logo {
    max-height: 1.25rem;
    max-width: 7.5rem;
    margin-right: auto;
    @include tablet {
        color: $bandSiteDarkBlack;
    }
}
&__title{
    text-decoration: none;
    color: $mercury;
    margin-right: auto;
    padding: $desktopPadding;


&--active {
    text-decoration: none;
    padding: $desktopPadding;
    color: $white;
    border-bottom: .125rem solid $white;

}

}
&__title:hover{
    color: $white;
    border-bottom: .125rem solid $white;
}
}
    

//Hero//

    .hero {
        display: flex;
        align-items: center;
        // max-width: 1280px;
        height: 37.5rem;
        background-position: center center;
        font-family:'AvernirNextLTPro';
        background-image: url(../assets/images/hero-bio.jpg);
        background-size:cover;

    &__title {
        @include pageHeader;
        padding: $desktopHeaderPadding;
        // padding-top: $desktopHeaderPadding;
        // padding-left: $desktopHeaderPadding;
        color: $white;
        }
    }

//Bio//

    .bio {
        display: flex;
        flex-flow: column;
        padding: $desktopPadding;

    }
    .photo {

    }
    .text {

    &--header {
        @include sectionHeader;
        padding: $desktopPadding;
        padding-top: $desktopHeaderPadding;

    }
    &--quote {
        @include subHeader;
        padding: $desktopPadding;
    }
    &--quote2 {
        @include bodyCopy;
        padding: $desktopPadding;
    }
    &--sub-title {
        @include subHeader;
        padding: $desktopPadding;
        padding-top: $desktopHeaderPadding;
    
    }
    &--about {
        @include bodyCopy;
        display: inline-flex;
        padding: $desktopPadding;

    }
    }

//Gallery//

    .images-wrapper{
        background-color:$bandSiteDarkBlack;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: space-evenly;
        .gallery {
            width: 33%;
        &header{

        }
        &img {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-evenly;
            align-content: space-evenly;
            width: 18.75rem;
            padding: $desktopPadding;
            &--one {

            }
            &--two {

            }
            &--three {

            }

        }
        }
    }

    .gallery {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        align-content: center;
        padding: $desktopPadding;
    .information {
        display: flex;
        @include sectionHeader;
        max-width: 1280px;
        padding: $desktopPadding;
        padding-top: $desktopHeaderPadding;
    }
    @include tablet {
        flex-direction: row;
    }
    // @include $mobile {
        
    // }
    // &__img {
    //     margin-right: 2.25rem;
    //     @include tablet {
    //         width 33%;
    //     }
    //     padding-bottom: 2.25rem;
    //     padding-left: 2.25rem;
    //     padding-right: 2.25rem;
    //     width: 300px;
    // }
    }
    
//Social//

    .social{
        display: flex;
        &__header {
            @include sectionHeader;
        }
        &__divider {
            stroke-width: .0625rem;
            fill: $mercury;
        }
        &__form {
            padding: $desktopPadding;
            color: $silver;
            &--section {
                @include bodyCopy;
                color: $silver;
            }
            &--input {
                @include bodyCopy;
                outline: $mercury;
            }
        }
        &__button {
                    @include ctaButton;
        }
        &__button:hover {
            @include ctaButton;
        }
        &__comments {
            color: $bandSiteBlack;
            &--name {
                font-weight: bold;
            }
            &--date {
                color: $silver
            }
            &--text {

            }
        }
    }

//Footer//

.footer-wrapper {
    display: flex;
    max-width: 1280px;
    // margin: 0 auto;
    padding: $desktopPadding;
    width: 100%;
    justify-content: space-between;
    // padding-top: 16px;
}
.footer {
    display: flex;
    background-color: $bandSiteBlack;
    color: #ffffff;
    flex-wrap: wrap;
&__logo {
    padding: $desktopPadding;
    // margin-left: auto;
}
&__row {
    display: flex;
    flex-direction: row;
    width: 100%;
}
&__title {
    @include sectionHeader;
    padding: $desktopPadding;
    padding-top: $desktopHeaderPadding;
}
&__name {
    @include footerCopy;
    font-weight: bold;
    padding: $desktopPadding;
}
&__text {
    @include footerCopy;
    padding: $desktopPadding;
}
}

.media {
    margin-right: auto;

&__img {

}

}
}