@import "../styles/_partials/partials";
@use "../styles/_partials/partials" as *;

* {
  box-sizing: border-box;
}

html {
  font-family: "AvernirNextLTPro";
  color: bandSiteBlack;

  //Menu//

  .menu {
    font-family: "AvernirNextLTPro";
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    background-color: $bandSiteBlack;
    color: $mercury;
    list-style: none;
    margin: auto;
    padding: 2rem;
    padding-left: $desktopHeaderPadding;
    text-decoration: none;

    &__logo {
      max-height: 1.25rem;
      max-width: 7.5rem;
      margin-right: auto;
      @include tablet {
        color: $bandSiteDarkBlack;
      }
    }
    &__title {
      text-decoration: none;
      color: $mercury;
      margin-right: auto;
      padding: $desktopPadding;

      &--active {
        text-decoration: none;
        margin: $desktopMargin;
        padding-bottom: 2rem;
        color: $white;
        border-bottom: 0.275rem solid $white;
      }
    }
    &__title:hover {
      color: $white;
      border-bottom: 0.125rem solid $white;
    }
  }

  //Hero//

  .hero-wrapper {
    width: 100%;
    background: linear-gradient(
        0deg,
        rgba(50, 50, 49, 0.5),
        rgba(50, 50, 50, 0.5)
      ),
      url(../assets/images/hero-shows.jpg);
    background-size: cover;
  }
  .hero {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    height: 600px;
    background-position: center center;
    font-family: "AvernirNextLTPro";
    margin: 0 auto;
    padding: 0 120px;
    &__content {
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex: 1;
      &--text h1,
      h2 {
        padding: 0;
        margin-bottom: 0;
      }
      &--title {
        flex-direction: column;
        align-items: center;
        @include pageHeader;
        padding: $desktopPadding;
        color: $white;
      }
      &--subTitle {
        flex-direction: column;
        align-items: center;
        @include sectionHeader;
        padding: $desktopPadding;
        font-weight: 400;
        color: $white;
        font-size: 1.75rem;
        margin-bottom: 20px;
      }
    }
    &__music {
      flex-basis: 35%;
    }
  }

  // Shows//

  .shows {
    width: 100%;
    padding: 60px 120px;
    &__wrapper {
      display: flex;
      flex-direction: row;
      width: 100%;
      border-bottom: 0.13rem solid $mercury;
      align-items: center;
      padding: 8px 0px;
    }
    &__section {
      @include bodyCopy;
      color: $silver;
      width: 25%;
    }
    &__button {
      @include ctaButton;
    }
    &__text {
      width: 25%;
    }
  }

  //Footer//

  .footer-wrapper {
    display: flex;
    max-width: 1280px;
    padding: 0;
    width: 100%;
    justify-content: space-between;
  }
  .footer {
    display: flex;
    background-color: $bandSiteBlack;
    color: #ffffff;
    flex-wrap: wrap;
    padding: 0 100px;
    &__logo {
      padding: $desktopPadding;
    }
    &__row {
      display: flex;
      flex-direction: row;
      width: 100%;
      & > div {
        padding-right: 105px;
      }
    }
    &-title {
      font-size: 3rem;
      @include sectionHeader;
      padding: $desktopPadding;
      padding-left: 0;
    }
    &__name {
      @include footerCopy;
      font-weight: bold;
      line-height: 1.7;
    }
    &__text {
      @include footerCopy;
      line-height: 1.7;
    }
  }

  .media {
    margin-right: auto;
    padding-left: 50px;
    display: flex;

    &__img {
      padding-right: 40px;
    }
  }
}
