@font-face {
  font-family: "Avenir Next";
  src: url(../../assets/fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
  font-family: "AvernirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-Regular.otf");
  src: url("../assets/fonts/alternative-files/AvenirNextLTPro.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "AvernirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-Bold.otf");
  src: url("../assets/fonts/alternative-files/AvenirNextLTProBold.ttf");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "AvernirNextLTPro";
  src: url("../assets/fonts/AvenirNextLTPro-Demi.otf");
  src: url("../assets/fonts/alternative-files/AvenirNextLTPro-Demi");
  font-weight: 600;
  font-style: normal;
}

@use "../styles/_partials/partials" as *;
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "AvernirNextLTPro";
  color: bandSiteBlack;
}

html .menu {
  font-family: "AvernirNextLTPro";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #323232;
  color: #e1e1e1;
  list-style: none;
  margin: auto;
  padding: 2rem;
  padding-left: 3rem;
  text-decoration: none;
}

html .menu__logo {
  max-height: 1.25rem;
  max-width: 7.5rem;
  margin-right: auto;
}

@media (min-width: 768px) {
  html .menu__logo {
    color: #000000;
  }
}

html .menu__title {
  text-decoration: none;
  color: #e1e1e1;
  margin-right: auto;
  padding: 2.25rem;
}

html .menu__title--active {
  text-decoration: none;
  margin: 2.25rem;
  padding-bottom: 2rem;
  color: #ffffff;
  border-bottom: 0.275rem solid #ffffff;
}

html .menu__title:hover {
  color: #ffffff;
  border-bottom: 0.125rem solid #ffffff;
}

html .hero-wrapper {
  width: 100%;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(50, 50, 49, 0.5)), to(rgba(50, 50, 50, 0.5))), url(../assets/images/hero-shows.jpg);
  background: linear-gradient(0deg, rgba(50, 50, 49, 0.5), rgba(50, 50, 50, 0.5)), url(../assets/images/hero-shows.jpg);
  background-size: cover;
}

html .hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 600px;
  background-position: center center;
  font-family: "AvernirNextLTPro";
  margin: 0 auto;
  padding: 0 120px;
}

html .hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

html .hero__content--text h1,
html .hero__content h2 {
  padding: 0;
  margin-bottom: 0;
}

html .hero__content--title {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3.75rem;
  line-height: 4.25rem;
  font-weight: bold;
  padding: 2.25rem;
  color: #ffffff;
}

html .hero__content--subTitle {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  padding: 2.25rem;
  font-weight: 400;
  color: #ffffff;
  font-size: 1.75rem;
  margin-bottom: 20px;
}

html .hero__music {
  -ms-flex-preferred-size: 35%;
      flex-basis: 35%;
}

html .shows {
  width: 100%;
  padding: 60px 120px;
}

html .shows__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  border-bottom: 0.13rem solid #e1e1e1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px 0px;
}

html .shows__section {
  font-size: 0.875rem;
  line-height: 1.375rem;
  font-weight: 400;
  color: #afafaf;
  width: 25%;
}

html .shows__button {
  background-color: #323232;
  color: #ffffff;
  height: 2.5rem;
  min-width: 9.375rem;
  padding-left: 2rem;
  padding-right: 2rem;
  border-radius: 0.25rem;
}

html .shows__text {
  width: 25%;
}

html .footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  padding: 0;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

html .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #323232;
  color: #ffffff;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 100px;
}

html .footer__logo {
  padding: 2.25rem;
}

html .footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
}

html .footer__row > div {
  padding-right: 105px;
}

html .footer-title {
  font-size: 3rem;
  font-size: 2.25rem;
  line-height: 2.75rem;
  font-weight: 700;
  padding: 2.25rem;
  padding-left: 0;
}

html .footer__name {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-weight: bold;
  line-height: 1.7;
}

html .footer__text {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  line-height: 1.7;
}

html .media {
  margin-right: auto;
  padding-left: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

html .media__img {
  padding-right: 40px;
}
/*# sourceMappingURL=shows.css.map */